
        <div class="jumbotron jumbotron-fluid">
                
                <div class="container">                         
                  <h1 class="display-4">Smoothie Project</h1>
                  <p class="lead">Enjoy your favorite</p>
                  
                </div>

              <p>Make me a smoothie!</p>
<form action="/html/tags/html_form_tag_action.cfm" method="post">
    <textarea name="comments" id="comments" style="width:92%;padding:2%;height:100px;font:36px/44px cursive;border:10px double yellowgreen;">
    Here we go!!!!!!
    </textarea><br>
    <input type="submit" value="Submit">
    </form>
    </body>

 

  <script src="js/app.js"></script>

<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
<script src="/js/index.js"></script>
