<div class="card">
    <img class="card-img-top" src="{{imageURL}}">
    <div class="card-body">
        <h5 class="card-title">{{name}}</h5>
        <p class="card-text">{{description}}</p>
        <p class="card-text"><small class="text-muted">{{author}}</small></p>
    </div>
</div>